<message ng-if="vm.isShowMessage" message-text="vm.messageText" message-type="vm.messageType" on-close="vm.hideMessage()"></message>
<div>
    <datepicker class="inlineBlock" datepicker-id="date" on-select="vm.setSelectedDate(date)"></datepicker>
    <picklist ng-if="vm.showPicklist" on-select="vm.setSelectedSource(source)" class="inlineBlock" picklist-arr="vm.currencyExchangeSources" assistive-text="Expand currency sources" picklist-label="Currency">
    </picklist>
    <button class="slds-button slds-button--neutral slds-not-selected" ng-click="vm.getCurrencyExchangeHandler()">Get Exchange Rates</button>
    <lookup class="inlineBlock" lookup-id="lookup-01" on-select="vm.setSelectedContact(contactId)"></lookup>
    <button class="slds-button slds-button--neutral slds-not-selected" ng-click="vm.sendMsg()">Send as PDF</button>
</div>
<div>
    <currency-layer-table ng-if="vm.showTable" currency-exchange="vm.currencyExchange" number-of-tables="4"></currency-layer-table>
</div>