<div class="slds-picklist slds-dropdown-trigger slds-dropdown-trigger--click" data-aljs="picklist">
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-01">{{vm.picklistLabel}}</label>
        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right slds-picklist__input">
            <input type="search" id="text-input-01" class="slds-lookup__search-input slds-input" placeholder="Select an Option" aria-owns="option-list-01" role="combobox" aria-activedescendant="" aria-expanded="false" readonly="">
            <button class="slds-button slds-input__icon slds-text-color--default" aria-expanded="false" tabindex="-1" title="settings">
                <svg class="slds-button__icon slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$root.assetsLocation + '/assets/icons/utility-sprite/svg/symbols.svg#down'}}"></use>
                </svg>
                <span class="slds-assistive-text">{{vm.assistiveText}}</span>
            </button>
        </div>
    </div>
    <div class="slds-dropdown slds-dropdown--left" role="listbox">
        <ul id="option-list-01" class="slds-dropdown__list slds-dropdown--length-5" role="presentation">
            <li role="presentation" ng-repeat="currencyExchangeSource in vm.picklistArr">
                <span class="slds-lookup__item-action slds-lookup__item-action--label" role="option" tabindex="0" id="{{currencyExchangeSource}}">
                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$root.assetsLocation + '/assets/icons/utility-sprite/svg/symbols.svg#check'}}"></use>
                    </svg>
                    <span class="slds-truncate">{{currencyExchangeSource}}</span>
                </span>
            </li>
        </ul>
    </div>
</div>