<div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
    <label class="slds-form-element__label" for="lookup-01">Contacts</label>
    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
        <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$root.assetsLocation + '/assets/icons/utility-sprite/svg/symbols.svg#search'}}"></use>
        </svg>
        <input name="contact" ng-attr-id="{{vm.lookupId}}" class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="Search Contacts">
    </div>
</div>