<div class="slds-notify_container">
    <div class="{{'slds-notify slds-notify--alert ' + vm.messageType}}" role="alert">
        <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close" ng-click="vm.hideMessage()">
            <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="{{$root.assetsLocation + '/assets/icons/utility-sprite/svg/symbols.svg#close'}}"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
        <span class="slds-assistive-text">{vm.messageText}}</span>
        <h2>{{vm.messageText}}</h2>
    </div>
</div>