<div class="inlineBlockTable" ng-repeat="currencyExchangeTable in vm.currencyExchangeTables">
    <table class="slds-table slds-table--bordered slds-table--cell-buffer ">
        <thead>
            <tr class="slds-text-title--caps">
                <th scope="col">
                    <div class="slds-truncate" title="Currency Code">Code</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate" title="Currency Exchange">Currency Exchange</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quote in currencyExchangeTable">
                <td data-label="Currency Code">
                    <div class="slds-truncate" title="Currency Code">{{quote.code}}</div>
                </td>
                <td data-label="Currency Exchange">
                    <div class="slds-truncate" title="Currency Exchange">{{quote.exchange}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    