<div class="slds-form-element">
    <label class="slds-form-element__label" for="date">
        Currency for
    </label> 
    <div class="slds-form-element__control" style="width:200px;">
        <div class="slds-input-has-icon slds-input-has-icon--right">
            <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                <use xlink:href="{{$root.assetsLocation + '/assets/icons/utility-sprite/svg/symbols.svg#event'}}"></use>
            </svg> 
            <input ng-attr-id="{{vm.datepickerId}}" class="slds-input" type="text" label="Date Picker Label" />
        </div>
    </div>
</div>
